/* FLEX BOX */

.is-flex{
    display: flex;
}

.is-flex-flow{
    flex-flow: nowrap;
  
}

.is-justify-center{
justify-content: center;
}

.is-align-center{
    align-items: center;
}

.is-align-start{
    align-items: flex-start;
}

.is-column{
    flex-direction: column;
}

.img-wrapper{
    width: 60%;
    padding: 20px;
    border: inset 2px firebrick;
    background-color: firebrick;
    border-radius: 3px;
}

.is-align-end{
    align-items: flex-end;
}

.texto-wrapper{
    width: 40%;
    padding: 20px;
}

.flex-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

